<script>
    export let pokemonStats = '';
    let isUlVisible = false;

    function toggleUlVisibility() {
        isUlVisible = !isUlVisible;
    }
</script>

<div class="stats">
    <h2 on:click={toggleUlVisibility}>Stats</h2>
    {#if isUlVisible}
    <div class="stats-bottom">
        {#each pokemonStats as stat}
            <div class="stats-details">
                <h5>{stat.stat.name}</h5>
                <h5>effort = {stat.effort}</h5>
                <h5>base = {stat.base_stat}</h5>
            </div>
        {/each}
    </div>
    {/if}
</div>


<style>
.stats-bottom {
    display:flex;
    gap: 2rem;
    flex-direction: column;

}

.stats-details {
    border: 1px solid black;
    border-radius: 5px;
    padding:5px 10px;
}
h2 {
        cursor:pointer;
    }
    .stats-bottom {
        padding: 0;
        max-height: 20rem;
        overflow:auto;
    }
</style>