<script>

</script>
<header>
    <nav>
        <div class="flex">
            <div class="bg-title">
                <h1><span class="yellow-text">Poke</span><span class="blue-text">App</span></h1>
            </div>
        </div>
        <a href="./">Home</a>
    </nav>
</header>
<div class="container">
    <slot />

</div>
<style lang=scss>
.container {
    width: 80%;
    margin:auto;
}
h1 span {
    font-size: 50px;
	}
    .yellow-text {
    color: yellow;
    }
    .blue-text {
    color: blue;
    }
    .bg-title {
	background-color: rgba(156, 157, 158, 0.603);
	max-width: fit-content;
	border-radius: 5%;
	padding: 10px;
	}
    nav {
        display:flex;
        align-items: center;
        gap:2rem;
        a {
            text-decoration: none;
        }
    }

</style>