<script>
    import { myStore } from '$lib/store.js';
    import { paginationStore} from '$lib/store';
    import { onMount } from "svelte";
    import Card from './Card.svelte'
    import './pokemon/style.css'
    
    let content = '';
    // PAGINAZIONE
    // console.log(offset);
    
    let currentPage = $paginationStore.page;
    let itemsPerPage = $paginationStore.pageSize;
    let offset = currentPage * itemsPerPage;
    
    
    async function fetchData3() {
        pokemonData = [];
        console.log(offset) 
        console.log(currentPage)
        const response = await fetch(`https://pokeapi.co/api/v2/pokemon?offset=${offset}&limit=${itemsPerPage}`);
        const data = await response.json();
        pokemonData = data.results;
    }
    
    // BOTTONE AVANTI
    async function btnForward(newPage) {
      currentPage = newPage;
      paginationStore.update((storeData) => {
        storeData.page = $paginationStore.page + 1;
        return storeData;
      });
      
      offset = currentPage * itemsPerPage;
    //   if(offset == 20){
    //   } else {
    //     offset = (currentPage - 1) * itemsPerPage;
    //   }
      await fetchData3();
      
    }
    
    // Bottone Indietro
    function btnBackward() {
      if (currentPage >= 1) {
        currentPage--;
        offset = currentPage * itemsPerPage;
        paginationStore.update((storeData) => {
          storeData.page = $paginationStore.page - 1;
          return storeData;
        });
        fetchData3();
      }
    }
    
    
    let pokemonName 
    
    
    // informazioni dallo store 
    $:{
    pokemonName = $myStore.pokemonName;
    }
    
    // CHIAMATA API PER OTTENERE IL LISTING 
    let pokemonData = [];
    
    async function fetchData() {
      const response = await fetch("https://pokeapi.co/api/v2/pokemon?offset=0&limit=20");
      const data = await response.json();
      pokemonData = data.results;
    }
    
    async function getData() {
      await fetchData();
    }
    getData();
    
    // CHIAMATA API AL CLICK SUL CONTENUTO
      async function handleClick(pokemonName) {
          myStore.update((storeData) => {
          storeData.pokemonSprites = [];
          return storeData;
        });
        content = pokemonName;
        const res = await fetch(`https://pokeapi.co/api/v2/pokemon/${content}`)
        const contentJson = await res.json();
        $myStore.pokemonName = contentJson.name;
        $myStore.pokemonAbilities =contentJson.abilities;
        $myStore.pokemonMoves = contentJson.moves;
        $myStore.pokemonStats = contentJson.stats;
        $myStore.pokemonTypes = contentJson.types;
        $myStore.pokemonSprites.push(contentJson.sprites)
          
        myStore.update((storeData) => {
          storeData.pokemonName = contentJson.name;
          storeData.pokemonAbilities = contentJson.abilities;
          storeData.pokemonMoves = contentJson.moves;
          storeData.pokemonStats = contentJson.stats;
          storeData.pokemonTypes = contentJson.types;
        return storeData;
        });
      }
    
    const getContent = async () => {
        myStore.update((storeData) => {
          storeData.pokemonName = '';
          storeData.pokemonAbilities = '';
          storeData.pokemonMoves = [];
          storeData.pokemonStats = [];
          storeData.pokemonTypes = [];
          storeData.pokemonSprites = [];
          return storeData;
        });
    
        //https://pokeapi.co/api/v2/pokemon?offset=20&limit=40
        const res = await fetch(`https://pokeapi.co/api/v2/pokemon/${content}`)
        const contentJson = await res.json();
        $myStore.pokemonName = contentJson.name;
        $myStore.pokemonAbilities =contentJson.abilities;
        $myStore.pokemonMoves = contentJson.moves;
        $myStore.pokemonStats = contentJson.stats;
        $myStore.pokemonTypes = contentJson.types;
        $myStore.pokemonSprites.push(contentJson.sprites)
    
    
        myStore.update((storeData) => {
          storeData.pokemonName = contentJson.name;
          storeData.pokemonAbilities = contentJson.abilities;
          storeData.pokemonMoves = contentJson.moves;
          storeData.pokemonStats = contentJson.stats;
          storeData.pokemonTypes = contentJson.types;
          return storeData;
        });
    
    };
<header>
    <nav>
        <div class="bg-title">
            <h1 class="animate">Pokémon</h1>
       </div>
       <div class="searchbar">
           <input bind:value={content} type="text" id="search-input">
           <button class="animate3" on:click = {getContent}>Search</button>
       </div>
    </nav>
</header>
    <slot />

<style>

h1 span {
    font-size: 50px;
	}
    .yellow-text {
    color: yellow;
    }
    .blue-text {
    color: blue;
    }
    .bg-title {
	background-color: rgba(156, 157, 158, 0.603);
	max-width: fit-content;
	border-radius: 5%;
	padding: 10px;
	}
    nav {
        display:flex;
        align-items: center;
        gap:2rem;
    }


</style>