<script>
    let content = '';

    const getContent = async () => {
	myStore.update((storeData) => {
	  storeData.pokemonName = '';
	  storeData.pokemonAbilities = '';
	  storeData.pokemonMoves = [];
	  storeData.pokemonStats = [];
	  storeData.pokemonTypes = [];
	  storeData.pokemonSprites = [];
	  return storeData;
	>});


</script>
<header>
    <nav>
        <div class="bg-title">
            <h1 class="animate">Pokémon</h1>
       </div>
       <div class="searchbar">
           <input bind:value={content} type="text" id="search-input">
           <button class="animate3" on:click = {getContent}>Search</button>
       </div>
    </nav>
</header>
    <slot />

<style>

h1 span {
    font-size: 50px;
	}
    .yellow-text {
    color: yellow;
    }
    .blue-text {
    color: blue;
    }
    .bg-title {
	background-color: rgba(156, 157, 158, 0.603);
	max-width: fit-content;
	border-radius: 5%;
	padding: 10px;
	}
    nav {
        display:flex;
        align-items: center;
        gap:2rem;
    }


</style>