<script>

</script>
<header>
    <div class="flex">
        <div class="bg-title">
            <h1><span class="yellow-text">Poke</span><span class="blue-text">App</span></h1>
        </div>
    </div>
</header>
<div class="container">
    <slot />

</div>
<style>
.container {
    width: 80%;
    margin:auto;
}
h1 span {
    font-size: 50px;
	}
    .yellow-text {
    color: yellow;
    }
    .blue-text {
    color: blue;
    }
    .bg-title {
	background-color: rgba(156, 157, 158, 0.603);
	max-width: fit-content;
	border-radius: 5%;
	padding: 10px;
	}
</style>