<script>


const getContent = async () => {
	const res = await fetch(`https://pokeapi.co/api/v2/pokemon/${content}`)
	const contentJson = await res.json();
	console.log(contentJson);
	$myStore.pokemonName = contentJson.name;
	$myStore.pokemonAbilities =contentJson.abilities;
	$myStore.pokemonMoves = contentJson.moves;
	$myStore.pokemonStats = contentJson.stats;
	$myStore.pokemonTypes = contentJson.types;

	pokemonSprites.push(contentJson.sprites)


	myStore.update((storeData) => {
	  storeData.pokemonName = contentJson.name;
	  storeData.pokemonAbilities = contentJson.abilities;
	  storeData.pokemonMoves = contentJson.moves;
	  storeData.pokemonStats = contentJson.stats;
	  storeData.pokemonTypes = contentJson.types;
	  return storeData; // Return the updated data
	});

};
</script>
<header>
    <div class="flex">
        <div class="bg-title">
            <h1><span class="yellow-text">Poke</span><span class="blue-text">App</span></h1>
        </div>
    </div>
    <input bind:value={content} type="text">
	<button class="api" on:click = {getContent}>Search Pokemon</button>
</header>
<div class="container">
    <slot />

</div>
<style>
.container {
    width: 80%;
    margin:auto;
}
</style>