<script>

</script>
<header>
    <nav>
        
    </nav>
</header>
    <slot />

<style>

h1 span {
    font-size: 50px;
	}
    .yellow-text {
    color: yellow;
    }
    .blue-text {
    color: blue;
    }
    .bg-title {
	background-color: rgba(156, 157, 158, 0.603);
	max-width: fit-content;
	border-radius: 5%;
	padding: 10px;
	}
    nav {
        display:flex;
        align-items: center;
        gap:2rem;
    }


</style>