<script>

</script>
<header>
    <div class="flex">
        <div class="bg-title">
            <h1><span class="yellow-text">Poke</span><span class="blue-text">App</span></h1>
        </div>
    </div>
</header>
<div class="container">
    <slot />

</div>
<style>
.container {
    width: 80%;
    margin:auto;
}
</style>