<script>
import { myStore } from '$lib/store.js';
import { paginationStore} from '$lib/store';
import { onMount } from "svelte";
import Card from './Card.svelte'
import './pokemon/style.css'

let content = '';
// PAGINAZIONE
// console.log(offset);

let currentPage = $paginationStore.page;
let itemsPerPage = $paginationStore.pageSize;
let offset = currentPage * itemsPerPage;

async function fetchData3() {
	pokemonData = [];
	console.log(offset)
	console.log(currentPage)
    const response = await fetch(`https://pokeapi.co/api/v2/pokemon?offset=${offset}&limit=${itemsPerPage}`);
    const data = await response.json();
	pokemonData = data.results;
}

// BOTTONE AVANTI
async function btnForward(newPage) {
  currentPage = newPage;
  paginationStore.update((storeData) => {
    storeData.page = $paginationStore.page + 1;
    return storeData;
  });
  offset = (currentPage - 1) * itemsPerPage;
  await fetchData3();
}

// Bottone Indietro
function btnBackward() {
  if (currentPage > 1) {
    currentPage--;
    offset = (currentPage - 1) * itemsPerPage;
    paginationStore.update((storeData) => {
      storeData.page = $paginationStore.page - 1;
      return storeData;
    });
    fetchData3();
  }
}


let pokemonName 


// informazioni dallo store 
$:{
pokemonName = $myStore.pokemonName;
}

// CHIAMATA API PER OTTENERE IL LISTING 
let pokemonData = [];

async function fetchData() {
  const response = await fetch("https://pokeapi.co/api/v2/pokemon?&limit=20");
  const data = await response.json();
  pokemonData = data.results;
}


async function getData() {
  await fetchData();
}

getData();

// CHIAMATA API AL CLICK SUL CONTENUTO
  async function handleClick(pokemonName) {
	myStore.update((storeData) => {
      storeData.pokemonSprites = [];
      return storeData;
    });
    content = pokemonName;
	const res = await fetch(`https://pokeapi.co/api/v2/pokemon/${content}`)
	const contentJson = await res.json();
	$myStore.pokemonName = contentJson.name;
	$myStore.pokemonAbilities =contentJson.abilities;
	$myStore.pokemonMoves = contentJson.moves;
	$myStore.pokemonStats = contentJson.stats;
	$myStore.pokemonTypes = contentJson.types;
	$myStore.pokemonSprites.push(contentJson.sprites)


	myStore.update((storeData) => {
	  storeData.pokemonName = contentJson.name;
	  storeData.pokemonAbilities = contentJson.abilities;
	  storeData.pokemonMoves = contentJson.moves;
	  storeData.pokemonStats = contentJson.stats;
	  storeData.pokemonTypes = contentJson.types;
	  return storeData;
	});
  }

const getContent = async () => {
	myStore.update((storeData) => {
	  storeData.pokemonName = '';
	  storeData.pokemonAbilities = '';
	  storeData.pokemonMoves = [];
	  storeData.pokemonStats = [];
	  storeData.pokemonTypes = [];
	  storeData.pokemonSprites = [];
	  return storeData;
	});

	//https://pokeapi.co/api/v2/pokemon?offset=20&limit=40
	const res = await fetch(`https://pokeapi.co/api/v2/pokemon/${content}`)
	const contentJson = await res.json();
	$myStore.pokemonName = contentJson.name;
	$myStore.pokemonAbilities =contentJson.abilities;
	$myStore.pokemonMoves = contentJson.moves;
	$myStore.pokemonStats = contentJson.stats;
	$myStore.pokemonTypes = contentJson.types;
	$myStore.pokemonSprites.push(contentJson.sprites)


	myStore.update((storeData) => {
	  storeData.pokemonName = contentJson.name;
	  storeData.pokemonAbilities = contentJson.abilities;
	  storeData.pokemonMoves = contentJson.moves;
	  storeData.pokemonStats = contentJson.stats;
	  storeData.pokemonTypes = contentJson.types;
	  return storeData;
	});

};
</script>

<svelte:head>
	<title>Home</title>
	<meta name="description" content="Svelte demo app" />
	<script src="https://kit.fontawesome.com/44f4634a5e.js" crossorigin="anonymous"></script>
</svelte:head>

<main>


	   
		<div class="flex">
		    <div class="left"> 
			   <div class="bg-title">
				    <h1 class="animate">Pokémon</h1>
			   </div>
			   <div class="searchbar">
				   <input bind:value={content} type="text" id="search-input">
				   <button class="animate3" on:click = {getContent}>Search</button>
			   </div>
			   <div class="listing">
				{#each pokemonData as pokemon}
					<div class="card" on:click={() => handleClick(pokemon.name)}>
						<a href="/pokemon"><h2>{pokemon.name}</h2></a>
					</div>
				{/each}
			   </div>
			   <div class="pagination">
  <!-- {#each Array(Math.ceil(pokemonData.length / itemsPerPage)).map((_, index) => index + 1) as page} -->
  <!-- {/each} -->
  <button on:click={() => btnBackward($paginationStore.page)}><i class="fa-solid fa-left-long"></i></button>
 
</div>

			   <div class="card-container">		
				  {#if pokemonName}
				  <Card pokemonName={pokemonName} />
				{/if}
			   </div>
		</div>   

</main>
	<style>

	.listing {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
	}
	.card {
		width: calc(100% /5);
		border: 1px solid black;
		text-align: center;
	}
	.bg {
		width:100%;
		height:100vh;
		background-color: rgb(36, 36, 36);
	}

	.bg-title {
       text-align: center;
	}

	.listing a {
		text-decoration: none;
		color: inherit;
	}
    
	a {
		text-decoration: none;
	}
	.left {
		background-color: rgba(156, 157, 158, 0.603);
		border-radius: 10px;
	}

	button {
		border-radius: 5px;
		border: none;
		font-size: 20px;
	}


	button:hover {
		background-color: rgb(23, 108, 255);
		color: white;
	}

	.flex {
		display: flex;
		padding: 2rem;
		justify-content: center;
		gap: 5rem;
		width: 100%;
		margin: auto;
		
	}
	
  
	.animate3 {
	text-transform: uppercase;
	background-image: linear-gradient(
	-225deg,
	#2f1491 0%,
	#617a10 29%,
	#ff1361 67%,
	#fff800 100%
	);
	background-size: auto auto;
	background-clip: border-box;
	background-size: 200% auto;
	border: 1px solid blue !important;
	color: #fff;
	background-clip: text;
	text-fill-color: transparent;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	animation: animate 2s linear infinite;
	display: inline-block;
	font-size: 50px;
	}
	
	@keyframes animate {
	to {
		background-position: 200% center;
	}
	}
   
	.searchbar {
		text-align: center;
	}
	.searchbar button {
		border:0px;
		border-radius: 5px;
		padding: 5px;
		font-size: 1rem;
	}
	.searchbar input {
		line-height: 1.4rem;
		border-radius: 5px;
		border: 0px;
	}
	
	.animate {
	text-transform: uppercase;
	background-image: linear-gradient(
	-225deg,
	#2f1491 0%,
	#617a10 29%,
	#ff1361 67%,
	#fff800 100%
	);
	background-size: auto auto;
	background-clip: border-box;
	background-size: 200% auto;
	color: #fff;
	background-clip: text;
	text-fill-color: transparent;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	animation: animate 2s linear infinite;
	display: inline-block;
	font-size: 50px;
	}
	
	@keyframes animate {
	to {
		background-position: 200% center;
	}
	}
    
	h1 span {
    font-size: 50px;
	}
    .yellow-text {
    color: rgb(247, 202, 0);
    }
    .blue-text {
    color: rgb(0, 0, 150);
    }

	
</style>


