<script>
import { myStore } from '$lib/store.js';
import Card from './Card.svelte'
import './pokemon/style.css'
export let form;


let content = '';

let pokemonName 
let pokemonAbilities
let pokemonSprites
let pokemonMoves
let pokemonStats
let pokemonTypes

// informazioni dallo store 
$:{
pokemonName = $myStore.pokemonName;
pokemonAbilities = $myStore.pokemonAbilities;
pokemonSprites = $myStore.pokemonSprites;
pokemonMoves = $myStore.pokemonMoves;
pokemonStats = $myStore.pokemonStats;
pokemonTypes = $myStore.pokemonTypes;
pokemonSprites = $myStore.pokemonSprites;
}

const getContent = async () => {
	myStore.update((storeData) => {
	  storeData.pokemonName = '';
	  storeData.pokemonAbilities = '';
	  storeData.pokemonMoves = [];
	  storeData.pokemonStats = [];
	  storeData.pokemonTypes = [];
	  storeData.pokemonSprites = [];
	  return storeData;
	});
	const res = await fetch(`https://pokeapi.co/api/v2/pokemon/${content}`)
	const contentJson = await res.json();
	console.log(contentJson);
	$myStore.pokemonName = contentJson.name;
	$myStore.pokemonAbilities =contentJson.abilities;
	$myStore.pokemonMoves = contentJson.moves;
	$myStore.pokemonStats = contentJson.stats;
	$myStore.pokemonTypes = contentJson.types;
	$myStore.pokemonSprites.push(contentJson.sprites)


	myStore.update((storeData) => {
	  storeData.pokemonName = contentJson.name;
	  storeData.pokemonAbilities = contentJson.abilities;
	  storeData.pokemonMoves = contentJson.moves;
	  storeData.pokemonStats = contentJson.stats;
	  storeData.pokemonTypes = contentJson.types;
	  return storeData;
	});

};
// const searchInput = document.querySelector("#search-input");
//     // Ascolta l'evento onload per il documento HTML
//     window.onload = function() {
//       // Assegna un evento keyup al campo di input
//       searchInput.addEventListener("keyup", function(event) {
//         // Controlla se l'utente ha premuto il tasto invio
//         if (event.keyCode === 13) {
// 			getContent();
//         }
//       });
//     };
</script>

<svelte:head>
	<title>Home</title>
	<meta name="description" content="Svelte demo app" />
</svelte:head>

<main>


	   
		<div class="flex">
		    <div class="left"> 
			   <div class="bg-title">
				    <h1><span class="yellow-text">Poké</span><span class="blue-text">mon</span></h1>
			   </div>
			   <div class="searchbar">
				   <input bind:value={content} type="text" id="search-input">
				   <button class="api" on:click = {getContent}>Search</button>
			   </div>
			   <div class="card-container">		
				  {#if pokemonName}
				  <Card pokemonName={pokemonName} />
				{/if}
			   </div>
		</div>   
        
	

		
			<div class="right">  
					<div class="wrapper">
						<fieldset>
							<legend>Emails</legend>
							<form method="POST" class="container">
								<div class="input">
									<label for="">To:</label>
									<input name="to" type="email" value="" />
								</div>
								<div class="input">
									<label for="">Subject:</label>
									<input name="subject" type="text" value="" />
								</div>
								<div class="input">
									<label for="">Body:</label>
									<textarea name="body" rows="6" value="" />
								</div>
								<button type="submit">Send</button>
							</form>
							<p class="success">{form?.success || ""}</p>
						</fieldset>
					</div>
				</div>
			</div>	
		
			

</main>
	<style>
	.bg {
		width:100%;
		height:100vh;
		background-color: rgb(36, 36, 36);
	}
    
	a {
		text-decoration: none;
	}

	.container {
		background-color: grey;
	}

	.flex {
		display: flex;
		gap: 10rem;
		margin: 50%;
		
	}
	
    .api:hover {
     background-color: blue;
     color: white;
    }
	.searchbar {
		text-align: center;
	}
	.searchbar button {
		border:0px;
		border-radius: 5px;
		padding: 5px;
		font-size: 1rem;
	}
	.searchbar input {
		line-height: 1.4rem;
		border-radius: 5px;
		border: 0px;
	}
    
	h1 span {
    font-size: 50px;
	}
    .yellow-text {
    color: rgb(247, 202, 0);
    }
    .blue-text {
    color: rgb(0, 0, 150);
    }

	.wrapper {
        max-width: 800px;
        margin: 2em auto;
    }
    fieldset {
        padding: 2em;
        box-shadow: 0 10px 15px -3px #0000001a, 0 4px 6px -4px #0000001a;
    }
    legend {
        font-weight: bold;
        font-size: 2em;
        padding: 0 0.25em;
        color: #333;
    }
    .container {
        max-width: 400px;
    }
    .input {
        display: grid;
        margin-bottom: 1.5em;
    }
    label {
        font-weight: 600;
        margin-bottom: 0.25em;
        color: #555;
    }
    input {
        padding: 5px;
    }
    button {
        cursor: pointer;
        padding: 0.5em 1em;
        border-radius: 4px;
        border: 1px solid rgb(5, 151, 64);
        background-color: rgb(5, 151, 64);
        color: white
    }
    .success {
        color: #0a5;
    }


    </style>


