<script>
const getContent = () => {
	const res = await fetch('https://pokeapi.co/api/v2/pokemon/ditto')
	const contentJson = await res.json();
	console.log(contentJson);
};

</script>

<svelte:head>
	<title>Home</title>
	<meta name="description" content="Svelte demo app" />
</svelte:head>

<section>
	<a href="./about">About</a>
	<h1>

		to your new<br />SvelteKit app

</section>

<style>

</style>


