<script>
	let content = '';
const getContent = async () => {
	const res = await fetch(`https://pokeapi.co/api/v2/pokemon/${content}`)
	const contentJson = await res.json();
	console.log(contentJson);
};

</script>

<svelte:head>
	<title>Home</title>
	<meta name="description" content="Svelte demo app" />
</svelte:head>
<div class="logo">
	<h1><span class="yellow-text">Poke</span><span class="blue-text">App</span></h1>
</div>
<section>
	<a href="./about">About</a>
	<button on:click = {getContent}>Pokemon</button>
	<input bind:value={content} type="text">
	<p>Name: {pokemonName}</p>

	
</section>

<style>
	.yellow-text {
  color: rgb(192, 192, 30);
}
.blue-text {
  color: blue;
}
</style>


