<script>
    import Abilities from './Abilities.svelte'
	import Game_indices from './Game_indices.svelte'
	import Stats from './Stats.svelte'
	import Moves from './Moves.svelte'
	import Card from './Card.svelte'
	let content = '';
	let pokemonName ='';
	let pokemonAbilities = '';
	let pokemonSprites = [];
	let pokemonGame = [];
	let pokemonMoves = [];
	let pokemonStats = [];

const getContent = async () => {
	const res = await fetch(`https://pokeapi.co/api/v2/pokemon/${content}`)
	const contentJson = await res.json();
	console.log(contentJson);
	pokemonName = contentJson.name;
	pokemonAbilities =contentJson.abilities;
	pokemonGame = contentJson.game_indices;
	pokemonMoves = contentJson.moves;
	pokemonStats = contentJson.stats;
	// pokemonSprites =contentJson.sprites;
	pokemonSprites.push(contentJson.sprites)
	console.log(pokemonName);
	console.log(pokemonAbilities);
	console.log(pokemonSprites);
};
// for (let i = 0; i < pokemonSprites.length; i++) {

// }
</script>

<svelte:head>
	<title>Home</title>
	<meta name="description" content="Svelte demo app" />
</svelte:head>
<div class="bg-title">
	<h1><span class="yellow-text">Poke</span><span class="blue-text">App</span></h1>
</div>
<section>
	<a href="./about">About</a>
    <input bind:value={content} type="text">
	<button class="api" on:click = {getContent}>Search Pokemon</button>
	
	
	{#each pokemonSprites as sprite}
	{#if sprite.other && sprite.other.dream_world && sprite.other.dream_world.front_default}
	  <p>{sprite.other.dream_world.front_default}</p>
	  <img src={sprite.other.dream_world.front_default} alt="Pokemon Image">
	{/if}
  {/each}
	<Card pokemonName={pokemonName} />
	<Abilities pokemonAbilities={pokemonAbilities} />
	<Game_indices pokemonGame={pokemonGame}/>
	<Moves pokemonMoves={pokemonMoves}/>
	<Stats pokemonStats={pokemonStats}/>
</section>

<style>
    h1 span {
      font-size: 50px;
    }
      .yellow-text {
      color: yellow;
    }
    .blue-text {
      color: blue;
    }
    .bg-title {
        background-color: rgba(156, 157, 158, 0.603);
        max-width: fit-content;
        border-radius: 5%;
    }
    .api:hover {
     background-color: blue;
     color: white;
    }
    </style>


