<script>
	import { myStore } from '$lib/store.js';
	// variabile bind per la search bar
	let content = '';
// variabili dichiarate
let pokemonName 
let pokemonAbilities
let pokemonSprites
let pokemonGame
let pokemonMoves
let pokemonStats
let pokemonTypes

// informazioni dallo store 
$:{
pokemonName = $myStore.pokemonName;
pokemonAbilities = $myStore.pokemonAbilities;
pokemonSprites = $myStore.pokemonSprites;
pokemonGame = $myStore.pokemonGame;
pokemonMoves = $myStore.pokemonMoves;
pokemonStats = $myStore.pokemonStats;
pokemonTypes = $myStore.pokemonTypes;
}

    import Abilities from './Abilities.svelte'
	import Game_indices from './Game_indices.svelte'
	import Stats from './Stats.svelte'
	import Moves from './Moves.svelte'
	import Card from './Card.svelte'
	import Types from './Types.svelte'
	



const getContent = async () => {
	const res = await fetch(`https://pokeapi.co/api/v2/pokemon/${content}`)
	const contentJson = await res.json();
	console.log(contentJson);
	$myStore.pokemonName = contentJson.name;
	$myStore.pokemonAbilities =contentJson.abilities;
	$myStore.pokemonGame = contentJson.game_indices;
	$myStore.pokemonMoves = contentJson.moves;
	$myStore.pokemonStats = contentJson.stats;
	$myStore.pokemonTypes = contentJson.types;

	pokemonSprites.push(contentJson.sprites)


	myStore.update((storeData) => {
	  storeData.pokemonName = contentJson.name;
	  storeData.pokemonAbilities = contentJson.abilities;
	  storeData.pokemonGame = contentJson.game_indices;
	  storeData.pokemonMoves = contentJson.moves;
	  storeData.pokemonStats = contentJson.stats;
	  storeData.pokemonTypes = contentJson.types;
	  return storeData; // Return the updated data
	});

};
// for (let i = 0; i < pokemonSprites.length; i++) {

// }
</script>

<svelte:head>
	<title>Home</title>
	<meta name="description" content="Svelte demo app" />
</svelte:head>
<header>

	<div class="container">
		<div class="flex">
			<div class="bg-title">
				<h1><span class="yellow-text">Poke</span><span class="blue-text">App</span></h1>
			</div>
		</div>
	</div>
	
</header>
<section>
	<a href="./about">About</a>
    <input bind:value={content} type="text">
	<button class="api" on:click = {getContent}>Search Pokemon</button>
	
	
	{#each pokemonSprites as sprite}
	{#if sprite.other && sprite.other.dream_world && sprite.other.dream_world.front_default}
	  <p>{sprite.other.dream_world.front_default}</p>
	  <img src={sprite.other.dream_world.front_default} alt="Pokemon Image">
	{/if}
  {/each}
	<Card pokemonName={pokemonName} />
	<Abilities pokemonAbilities={pokemonAbilities} />
	<Game_indices pokemonGame={pokemonGame}/>
	<Moves pokemonMoves={pokemonMoves}/>
	<Stats pokemonStats={pokemonStats}/>
	<Types pokemonTypes={pokemonTypes}/>
</section>

<style>

    h1 span {
    font-size: 50px;
	}
	a {
		text-decoration: none;
	}
    .yellow-text {
    color: yellow;
    }
    .blue-text {
    color: blue;
    }
    .bg-title {
	background-color: rgba(156, 157, 158, 0.603);
	max-width: fit-content;
	border-radius: 5%;
	padding: 10px;
	}
	.flex {
		display:flex;
		justify-content:center;
		align-items:center;
	}
    .api:hover {
     background-color: blue;
     color: white;
    }

    </style>


