<script>
	import { myStore } from '$lib/store.js';
	import Card from './Card.svelte'
	// variabile bind per la search bar
	let content = '';
// variabili dichiarate
let pokemonName 
let pokemonAbilities
let pokemonSprites
let pokemonMoves
let pokemonStats
let pokemonTypes

// informazioni dallo store 
$:{
pokemonName = $myStore.pokemonName;
pokemonAbilities = $myStore.pokemonAbilities;
pokemonSprites = $myStore.pokemonSprites;
pokemonMoves = $myStore.pokemonMoves;
pokemonStats = $myStore.pokemonStats;
pokemonTypes = $myStore.pokemonTypes;
pokemonSprites = $myStore.pokemonSprites;
}

	



const getContent = async () => {
	myStore.update((storeData) => {
	  storeData.pokemonName = '';
	  storeData.pokemonAbilities = '';
	  storeData.pokemonMoves = [];
	  storeData.pokemonStats = [];
	  storeData.pokemonTypes = [];
	  storeData.pokemonSprites = [];
	  return storeData;
	});
	const res = await fetch(`https://pokeapi.co/api/v2/pokemon/${content}`)
	const contentJson = await res.json();
	console.log(contentJson);
	$myStore.pokemonName = contentJson.name;
	$myStore.pokemonAbilities =contentJson.abilities;
	$myStore.pokemonMoves = contentJson.moves;
	$myStore.pokemonStats = contentJson.stats;
	$myStore.pokemonTypes = contentJson.types;
	$myStore.pokemonSprites.push(contentJson.sprites)


	myStore.update((storeData) => {
	  storeData.pokemonName = contentJson.name;
	  storeData.pokemonAbilities = contentJson.abilities;
	  storeData.pokemonMoves = contentJson.moves;
	  storeData.pokemonStats = contentJson.stats;
	  storeData.pokemonTypes = contentJson.types;
	  return storeData;
	});

};
</script>

<svelte:head>
	<title>Home</title>
	<meta name="description" content="Svelte demo app" />
</svelte:head>
<div class="bg">


<main>
	<div class="flex">
		<div class="bg-title">
			<h1><span class="yellow-text">Poké</span><span class="blue-text">mon</span></h1>
		</div>
	</div>
	<div class="card-container">		
		<div class="searchbar">
			<input bind:value={content} type="text">
			<button class="api" on:click = {getContent}>Search</button>
		</div>
		{#if pokemonName}
		<Card pokemonName={pokemonName} />
		{/if}
	</div>
	
</main>
</div>
<style>

    
	a {
		text-decoration: none;
	}
	.flex {
		display:flex;
		justify-content:center;
		align-items:center;
	}
    .api:hover {
     background-color: blue;
     color: white;
    }
	.searchbar {
		text-align: center;
	}
	.searchbar button {
		border:0px;
		border-radius: 5px;
		padding: 5px;
		font-size: 1rem;
	}
	.searchbar input {
		line-height: 1.4rem;
		border-radius: 5px;
		border: 0px;
	}
	main {
		position:absolute;
		top: 50%;
		left:50%;
		transform:translate(-50%, -50%);
		background-color: rgba(156, 157, 158, 0.603);
		padding:2rem 4rem 4rem;
		border-radius: 10px;
		margin:auto;
		width:40%;
		height: 60vh;

	}
	h1 span {
    font-size: 50px;
	}
    .yellow-text {
    color: rgb(247, 202, 0);
    }
    .blue-text {
    color: rgb(0, 0, 150);
    }


    </style>


