<script>
	import {Store} from './store.svelte'
	import Card from './Card.svelte'
	// let content = '';
	// let pokemonName ='';
	// let pokemonAbilities = '';
	// let pokemonSprites = [];

	async function getContent() {
    const res = await fetch(`https://pokeapi.co/api/v2/pokemon/${content}`);
    const contentJson = await res.json();
    console.log(contentJson);
    // Aggiungi il nome del Pokémon al tuo store
    myStore.update(store => {
      store.pokemonName = contentJson.name;
      return store;
    });

    // Aggiungi le abilità del Pokémon al tuo store
    myStore.update(store => {
      store.pokemonAbilities = contentJson.abilities;
      return store;
    });

    // Aggiungi le sprites del Pokémon al tuo store
    myStore.update(store => {
      store.pokemonSprites.push(contentJson.sprites);
      return store;
    });

    console.log(myStore.pokemonName);
    console.log(myStore.pokemonAbilities);
    console.log(myStore.pokemonSprites);
  }

  function addToStore() {
    myStore.update(store => {
      // Aggiungi il nuovo valore all'array esistente
      return [...store.pokemonSprites, 'Nuovo valore'];
    });
  }

</script>

<svelte:head>
	<title>Home</title>
	<meta name="description" content="Svelte demo app" />
</svelte:head>
<div class="bg-title">
	<h1><span class="yellow-text">Poke</span><span class="blue-text">App</span></h1>
</div>
<section>
	<a href="./about">About</a>
    <input bind:value={$myStore.content} type="text">
	<button class="api" on:click = {getContent}>Search Pokemon</button>
	
	
	{#each pokemonSprites as sprite}
	{#if sprite.other && sprite.other.dream_world && sprite.other.dream_world.front_default}
	  <p>{sprite.other.dream_world.front_default}</p>
	  <img src={sprite.other.dream_world.front_default} alt="Pokemon Image">
	{/if}
  {/each}
	<Card pokemonName={pokemonName} pokemonAbilities={pokemonAbilities}/>

</section>

<style>
    h1 span {
      font-size: 50px;
    }
      .yellow-text {
      color: yellow;
    }
    .blue-text {
      color: blue;
    }
    .bg-title {
        background-color: rgba(156, 157, 158, 0.603);
        max-width: fit-content;
        border-radius: 5%;
    }
    .api:hover {
     background-color: blue;
     color: white;
    }
    </style>


