<script>
import { myStore } from '$lib/store.js';
import Card from './Card.svelte'
import './pokemon/style.css'

let content = '';

let pokemonName 
let pokemonAbilities
let pokemonSprites
let pokemonMoves
let pokemonStats
let pokemonTypes

// informazioni dallo store 
$:{
pokemonName = $myStore.pokemonName;
pokemonAbilities = $myStore.pokemonAbilities;
pokemonSprites = $myStore.pokemonSprites;
pokemonMoves = $myStore.pokemonMoves;
pokemonStats = $myStore.pokemonStats;
pokemonTypes = $myStore.pokemonTypes;
pokemonSprites = $myStore.pokemonSprites;
}


import { onMount } from "svelte";
  
let pokemonData = [];
  async function fetchData() {
    const response = await fetch("https://pokeapi.co/api/v2/pokemon?&limit=20");
    let data = await response.json();
	pokemonData.push(data.results);
	// console.log(data.results);

  }
  console.log(pokemonData);

  load: fetchData();

//   onMount(() => {
//     console.log("Dati API:", data);
//   });


const getContent = async () => {
	myStore.update((storeData) => {
	  storeData.pokemonName = '';
	  storeData.pokemonAbilities = '';
	  storeData.pokemonMoves = [];
	  storeData.pokemonStats = [];
	  storeData.pokemonTypes = [];
	  storeData.pokemonSprites = [];
	  return storeData;
	});

	//https://pokeapi.co/api/v2/pokemon?offset=20&limit=40
	const res = await fetch(`https://pokeapi.co/api/v2/pokemon/${content}`)
	const contentJson = await res.json();
	$myStore.pokemonName = contentJson.name;
	$myStore.pokemonAbilities =contentJson.abilities;
	$myStore.pokemonMoves = contentJson.moves;
	$myStore.pokemonStats = contentJson.stats;
	$myStore.pokemonTypes = contentJson.types;
	$myStore.pokemonSprites.push(contentJson.sprites)


	myStore.update((storeData) => {
	  storeData.pokemonName = contentJson.name;
	  storeData.pokemonAbilities = contentJson.abilities;
	  storeData.pokemonMoves = contentJson.moves;
	  storeData.pokemonStats = contentJson.stats;
	  storeData.pokemonTypes = contentJson.types;
	  return storeData;
	});

};
</script>

<svelte:head>
	<title>Home</title>
	<meta name="description" content="Svelte demo app" />
</svelte:head>

<main>


	   
		<div class="flex">
		    <div class="left"> 
			   <div class="bg-title">
				    <h1 class="animate">Pokémon</h1>
			   </div>
			   <div class="searchbar">
				   <input bind:value={content} type="text" id="search-input">
				   <button class="animate3" on:click = {getContent}>Search</button>
			   </div>
			   <div class="listing">
				{#each pokemonData as pokemon}
  <div class="card">
	<h1>{pokemon.name}</h1>
    <!-- <img src={contentJson.sprites} alt={pokemon.name} /> -->
    <p>{pokemon.name}</p>
  </div>
{/each}
			   </div>

			   <div class="card-container">		
				  {#if pokemonName}
				  <Card pokemonName={pokemonName} />
				{/if}
			   </div>
		</div>   

</main>
	<style>
	.bg {
		width:100%;
		height:100vh;
		background-color: rgb(36, 36, 36);
	}

	.bg-title {
       text-align: center;
	}
    
	a {
		text-decoration: none;
	}
	.left {
		background-color: rgba(156, 157, 158, 0.603);
		width: 25%;
		border-radius: 10px;
	}

	.flex {
		display: flex;
		padding: 2rem;
		justify-content: center;
		gap: 5rem;
		width: 100%;
		margin: auto;
		
	}
	
  
	.animate3 {
	text-transform: uppercase;
	background-image: linear-gradient(
	-225deg,
	#2f1491 0%,
	#617a10 29%,
	#ff1361 67%,
	#fff800 100%
	);
	background-size: auto auto;
	background-clip: border-box;
	background-size: 200% auto;
	border: 1px solid blue !important;
	color: #fff;
	background-clip: text;
	text-fill-color: transparent;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	animation: animate 2s linear infinite;
	display: inline-block;
	font-size: 50px;
	}
	
	@keyframes animate {
	to {
		background-position: 200% center;
	}
	}
   
	.searchbar {
		text-align: center;
	}
	.searchbar button {
		border:0px;
		border-radius: 5px;
		padding: 5px;
		font-size: 1rem;
	}
	.searchbar input {
		line-height: 1.4rem;
		border-radius: 5px;
		border: 0px;
	}
	
	.animate {
	text-transform: uppercase;
	background-image: linear-gradient(
	-225deg,
	#2f1491 0%,
	#617a10 29%,
	#ff1361 67%,
	#fff800 100%
	);
	background-size: auto auto;
	background-clip: border-box;
	background-size: 200% auto;
	color: #fff;
	background-clip: text;
	text-fill-color: transparent;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	animation: animate 2s linear infinite;
	display: inline-block;
	font-size: 50px;
	}
	
	@keyframes animate {
	to {
		background-position: 200% center;
	}
	}
    
	h1 span {
    font-size: 50px;
	}
    .yellow-text {
    color: rgb(247, 202, 0);
    }
    .blue-text {
    color: rgb(0, 0, 150);
    }

	
</style>


