<script>
	import { myStore } from '$lib/store.js';
	import Card from './Card.svelte'
	// variabile bind per la search bar
	let content = '';
// variabili dichiarate
let pokemonName 
let pokemonAbilities
let pokemonSprites
let pokemonMoves
let pokemonStats
let pokemonTypes

// informazioni dallo store 
$:{
pokemonName = $myStore.pokemonName;
pokemonAbilities = $myStore.pokemonAbilities;
pokemonSprites = $myStore.pokemonSprites;
pokemonMoves = $myStore.pokemonMoves;
pokemonStats = $myStore.pokemonStats;
pokemonTypes = $myStore.pokemonTypes;
}

	



const getContent = async () => {
	const res = await fetch(`https://pokeapi.co/api/v2/pokemon/${content}`)
	const contentJson = await res.json();
	console.log(contentJson);
	$myStore.pokemonName = contentJson.name;
	$myStore.pokemonAbilities =contentJson.abilities;
	$myStore.pokemonMoves = contentJson.moves;
	$myStore.pokemonStats = contentJson.stats;
	$myStore.pokemonTypes = contentJson.types;

	pokemonSprites.push(contentJson.sprites)


	myStore.update((storeData) => {
	  storeData.pokemonName = contentJson.name;
	  storeData.pokemonAbilities = contentJson.abilities;
	  storeData.pokemonMoves = contentJson.moves;
	  storeData.pokemonStats = contentJson.stats;
	  storeData.pokemonTypes = contentJson.types;
	  return storeData;
	});

};
</script>

<svelte:head>
	<title>Home</title>
	<meta name="description" content="Svelte demo app" />
</svelte:head>

<main>
	<div class="searchbar">
		<input bind:value={content} type="text">
		<button class="api" on:click = {getContent}>Search Pokemon</button>
	</div>
	{#if pokemonName}
	<Card pokemonName={pokemonName} />
	{/if}
	
</main>

<style>

    
	a {
		text-decoration: none;
	}
	.flex {
		display:flex;
		justify-content:center;
		align-items:center;
	}
    .api:hover {
     background-color: blue;
     color: white;
    }
	.searchbar {
		text-align: center;
	}
	.searchbar button {
	}
	
	main {
		background-color: rgba(156, 157, 158, 0.603);
		padding:4rem;
		border-radius: 10px;
		margin:auto;
		width:40%;

	}

    </style>


