<script>
	const content = '';
const getContent = async () => {
	const res = await fetch(`https://pokeapi.co/api/v2/pokemon/${content}`)
	const contentJson = await res.json();
	console.log(contentJson);
};

</script>

<svelte:head>
	<title>Home</title>
	<meta name="description" content="Svelte demo app" />
</svelte:head>

<section>
	<a href="./about">About</a>
	<button on:click = {getContent}>Pokemon</button>
	<input bind:{content} type="text">
	<h1>

		to your new<br />SvelteKit app

</section>

<style>

</style>


