<script>


</script>

<svelte:head>
	<title>Home</title>
	<meta name="description" content="Svelte demo app" />
</svelte:head>

<section>
	<h1>

		to your new<br />SvelteKit app

</section>

<style>

</style>


