<script>
	let content = '';
	let pokemonName ='';
	let pokemonAbilities = '';
const getContent = async () => {
	const res = await fetch(`https://pokeapi.co/api/v2/pokemon/${content}`)
	const contentJson = await res.json();
	console.log(contentJson);
	pokemonName = contentJson.name;
	pokemonAbilities =contentJson.abilities;
	console.log(pokemonName);
	console.log(pokemonAbilities);
};

</script>

<svelte:head>
	<title>Home</title>
	<meta name="description" content="Svelte demo app" />
</svelte:head>
<div class="bg-title">
	<h1><span class="yellow-text">Poke</span><span class="blue-text">App</span></h1>
</div>
<section>
	<a href="./about">About</a>
	<button class="api" on:click = {getContent}>Pokemon</button>
    <input bind:value={content} type="text">
   
	<p>Name:{pokemonName}</p>
	<ul>
		{#each pokemonAbilities as ability}
			<li>
				Name:{ability.ability.name}
				<a href="{ability.ability.url}">Find more</a>
			</li>
		{/each}
	</ul>
	
</section>

<style>
	h1 span {
	  font-size: 30px;
	}
	  .yellow-text {
	  color: yellow;
	}
	.blue-text {
	  color: blue;
	}
	.bg-title {
		background-color: rgba(156, 157, 158, 0.603);
		max-width: fit-content;
		border-radius: 5%;
	}
	</style>


