<script>

</script>
abilities content

<ul>
    {#each pokemonAbilities as ability}
    <img src={pokemonSprites.other.dream_world.front_default} alt="">
    <li>
            Name:{ability.ability.name}
            <a href="{ability.ability.url}">Find more</a>
        </li>
    {/each}
</ul>