<script>
	export let pokemonAbilities = '';
    import '../style.css'

</script>
<div class="abilities">
<h2>Abilities:</h2>
    <ul>
        {#each pokemonAbilities as ability}
        <!-- <img src={pokemonSprites.other.dream_world.front_default} alt=""> -->
        <li>
            {ability.ability.name}
        </li>
        {/each}
    </ul>
</div>
