<script>
	export let pokemonAbilities = '';

</script>

<ul>
    {#each pokemonAbilities as ability}
    <!-- <img src={pokemonSprites.other.dream_world.front_default} alt=""> -->
    <li>
        {ability.ability.name}
    </li>
    {/each}
</ul>