<script>
    export let pokemonAbilities = '';
    let isUlVisible = false;

    function toggleUlVisibility() {
        isUlVisible = !isUlVisible;
    }
</script>

<div class="abilities">
    <h2 on:click={toggleUlVisibility} id="abilities-text">Abilities</h2>
    {#if isUlVisible}
    <ul id="abilities-list">
        {#each pokemonAbilities as ability}
            <li>{ability.ability.name}</li>
        {/each}
    </ul>
    {/if}
</div>

<style>
        h2 {
        cursor:pointer;
    }
</style>

