<script>
	let content = '';
	let pokemonName ='';
	let pokemonAbilities = '';
	let pokemonSprites = [];
const getContent = async () => {
	const res = await fetch(`https://pokeapi.co/api/v2/pokemon/${content}`)
	const contentJson = await res.json();
	console.log(contentJson);
	pokemonName = contentJson.name;
	pokemonAbilities =contentJson.abilities;
	pokemonSprites =contentJson.sprites;
	console.log(pokemonName);
	console.log(pokemonAbilities);
	console.log(pokemonSprites.other.dream_world.front_default);
};

</script>
abilities content

<ul>
    {#each pokemonAbilities as ability}
    <img src={pokemonSprites.other.dream_world.front_default} alt="">
    <li>
            Name:{ability.ability.name}
            <a href="{ability.ability.url}">Find more</a>
        </li>
    {/each}
</ul>