<script>
	export let pokemonAbilities = '';

</script>
<div class="abilities">
<h2 id="abilities-text">Abilities:</h2>
    <ul id="abilities-list">
        {#each pokemonAbilities as ability}
        <!-- <img src={pokemonSprites.other.dream_world.front_default} alt=""> -->
        <li>
            {ability.ability.name}
        </li>
        {/each}
    </ul>
</div>
