<script>
import { myStore } from '$lib/store.js';

let pokemonSprites;
let pokemonName;

$:{
pokemonName = $myStore.pokemonName.toUpperCase();
pokemonSprites = $myStore.pokemonSprites;

}
</script>
<div class="card">
    {#each pokemonSprites as sprite}
    {#if sprite.other && sprite.other.dream_world && sprite.other.dream_world.front_default}
    <img src={sprite.other.dream_world.front_default} alt="Pokemon Image">
    {/if}
    {/each}
    <a href="./pokemon">
        <h3>{pokemonName}</h3>
    </a>
    </div>

<style>
.card {
    border: 1px solid black;
    border-radius: 5px;
    margin:auto;
    text-align:center;
    padding: 20px 0;
    margin-top: 20px;
    background-color: white;
    border-top: 4px solid blue;
    border-left: 4px solid blue;
    border-bottom: 4px solid yellow;
    border-right: 4px solid yellow;
    max-height: 50vh;
}
a {
    text-decoration: none;
    color:inherit;
}
img {
}

</style>

