<script>
import { myStore } from '$lib/store.js';

let pokemonSprites;
let pokemonName;

$:{
pokemonName = $myStore.pokemonName.toUpperCase();
// pokemonAbilities = $myStore.pokemonAbilities;
pokemonSprites = $myStore.pokemonSprites;
// pokemonGame = $myStore.pokemonGame;
// pokemonMoves = $myStore.pokemonMoves;
// pokemonStats = $myStore.pokemonStats;
// pokemonTypes = $myStore.pokemonTypes;
}
</script>
<div class="card">
    {#each pokemonSprites as sprite}
    {#if sprite.other && sprite.other.dream_world && sprite.other.dream_world.front_default}
    <img src={sprite.other.dream_world.front_default} alt="Pokemon Image">
    {/if}
    {/each}
    <a href="./pokemon">
        <h3>{pokemonName}</h3>
    </a>
    </div>

<style>
.card {
    border: 1px solid black;
    border-radius: 5px;
    width: 30%;
    margin:auto;
    text-align:center;
    padding: 20px 0;
    margin-top: 20px;
}

</style>

