<script>

	export let pokemonName = '';
</script>
<a href="./pokemon">
    <div class="card">

        Pokemon Card
        <p>Name:{pokemonName}</p>
        <!-- <Abilities pokemonAbilities={pokemonAbilities} /> -->
    </div>
</a>

<style>
.card {
    border: 1px solid black
}
</style>