<script>
    import Abilities from './Abilities.svelte'
	export let pokemonName = '';
</script>
<div class="card">

    Pokemon Card
    <p>Name:{pokemonName}</p>
    <Abilities pokemonAbilities={pokemonAbilities} />
</div>
<style>
.card {
    border: 1px solid black
}
</style>