

<div class="right">  
    <div class="wrapper">
        <fieldset>
            <legend class="animate2">Emails</legend>
            <form method="POST" class="container">
                <div class="input">
                    <label for="">To</label>
                    <input name="to" type="email" value="" />
                </div>
                <div class="input">
                    <label for="">Subject</label>
                    <input name="subject" type="text" value="" />
                </div>
                <div class="input">
                    <label for="">Body</label>
                    <textarea name="body" rows="6" value="" />
                </div>
                <button type="submit" class="btn-green">Send</button>
            </form>
            <p class="success">{form?.success || ""}</p>
        </fieldset>
    </div>
</div>