<script>
	export let pokemonGame = '';

</script>

<ul>
    {#each pokemonGame as game_index}
    <!-- <img src={pokemonSprites.other.dream_world.front_default} alt=""> -->
    {#each game_index as values}
    <li>
            Index = {values.game_index}
        </li>
    {/each}
</ul>