<script>
	export let pokemonGame = '';

</script>

<ul>
    {#each pokemonGame as game_index}
    <!-- <img src={pokemonSprites.other.dream_world.front_default} alt=""> -->
    <li>
            Name:{game_index}
        </li>
    {/each}
</ul>