<script>
	export let pokemonGame = '';

</script>

<ul>
    {#each pokemonGame as game_index}
    <!-- <img src={pokemonSprites.other.dream_world.front_default} alt=""> -->
    <li>
            Index = {game_index.game_index}
            color = {game_index.version.name}
        </li>
    {/each}
</ul>