<script>
    export let pokemonMoves = '';
    let isUlVisible = false;

    function toggleUlVisibility() {
        isUlVisible = !isUlVisible;
    }
</script>

<div class="moves">
    <h2 on:click={toggleUlVisibility}>Moves</h2>
    {#if isUlVisible}
    <ul>
        {#each pokemonMoves as move}
            <li>{move.move.name}</li>
        {/each}
    </ul>
    {/if}
</div>

<style>
        h2 {
        cursor:pointer;
    }
    ul {
        padding: 0;
        max-height: 4rem;
        overflow:scroll;
    }
</style>
