<script>
	export let pokemonMoves = '';

</script>
<div class="moves">
    <h2>Moves:</h2>
    <ul>
        {#each pokemonMoves as move}
        <!-- <img src={pokemonSprites.other.dream_world.front_default} alt=""> -->
        <li>
                {move.move.name}
        </li>
        {/each}
    </ul>
</div>
<ul>
    {#each pokemonMoves as move}
    <!-- <img src={pokemonSprites.other.dream_world.front_default} alt=""> -->
    <li>
            Move = {move.move.name}
        </li>
    {/each}
</ul>