<script>
	export let pokemonMoves = '';

</script>

<ul>
    {#each pokemonMoves as move}
    <!-- <img src={pokemonSprites.other.dream_world.front_default} alt=""> -->
    <li>
            Move =  = {move.move.name}
        </li>
    {/each}
</ul>