<script>
	export let pokemonMoves = '';

</script>
<div class="moves">
    <h2>Moves:</h2>
    <ul>
        {#each pokemonMoves as move}
        <li>
                {move.move.name}
        </li>
        {/each}
    </ul>
</div>