<script>
	export let pokemonStats = '';

</script>

<ul>
    {#each pokemonStats as stat}
    <!-- <img src={pokemonSprites.other.dream_world.front_default} alt=""> -->
    <li>
            Move = {stat.stat.name}
        </li>
    {/each}
</ul>