<script>
	export let pokemonStats = '';

</script>

<div class="stats">
    <h2>Stats:</h2>
</div>

<ul>
    {#each pokemonStats as stat}
    <!-- <img src={pokemonSprites.other.dream_world.front_default} alt=""> -->
    <li>
            <h5>
                Stat = {stat.stat.name}
            </h5>
            <h5>
                effort = {stat.effort}
            </h5>
            <h5>
                base ={ stat.base_stat}
            </h5>
        </li>
    {/each}
</ul>