<script>
	export let pokemonStats = '';

</script>

<div class="stats">
    <h2>Stats:</h2>
    
    <div class="stats-bottom">

        {#each pokemonStats as stat}
        <!-- <img src={pokemonSprites.other.dream_world.front_default} alt=""> -->
        <div class="stats-details">
            
            <h5>
                Stat = {stat.stat.name}
            </h5>
            <h5>
                effort = {stat.effort}
            </h5>
            <h5>
                base ={ stat.base_stat}
            </h5>
        </div>
        
        {/each}
    </div>
</div>

<style>
.stats-bottom {
    display:flex;
    gap: 2rem;

}

.stats-details {
    border: 1px solid black;
    border-radius: 5px;
    padding:5px 10px;
}
</style>