<script>
	export let pokemonStats = '';

</script>

<ul>
    {#each pokemonStats as stat}
    <!-- <img src={pokemonSprites.other.dream_world.front_default} alt=""> -->
    <li>
            Stat = {stat.stat.name}
            effort = {stat.effort}
            base ={ stat.base_stat}
        </li>
    {/each}
</ul>