<script>
	export let pokemonStats = '';

</script>

<div class="stats">
    <h2>Stats:</h2>
</div>

<ul>
    {#each pokemonStats as stat}
    <!-- <img src={pokemonSprites.other.dream_world.front_default} alt=""> -->
    <li>
            Stat = {stat.stat.name}<br>
            effort = {stat.effort}
            base ={ stat.base_stat}
        </li>
    {/each}
</ul>