<script>
import { Store } from "svelte/store";

// Crea un negozio con un'unica variabile
const store = new Store({

	content: '',
	pokemonName:'',
	pokemonAbilities; '',
	pokemonSprites: [],
});
</script>

<Store {store} />