<script>
import { Store } from "svelte/store";

const store = new Store({

	content: '',
	pokemonName:'',
	pokemonAbilities: '',
	pokemonSprites: [],
});
	let content = '';
	let pokemonName ='';
	let pokemonAbilities = '';
	let pokemonSprites = [];
</script>

<Store {store} />