<script>
import { store } from "svelte/store";
export {myStore}

const myStore = new Store({

	content: '',
	pokemonName:'',
	pokemonAbilities: '',
	pokemonSprites: [],
});
	let content = '';
	let pokemonName ='';
	let pokemonAbilities = '';
	let pokemonSprites = [];
</script>

<Store {myStore} />