<script>
	export let pokemonTypes = '';

</script>

<ul>
    {#each pokemonTypes as type}
    <!-- <img src={pokemonSprites.other.dream_world.front_default} alt=""> -->
    <li>
            type = {type.type.name}
        </li>
    {/each}
</ul>