<script>
	export let pokemonTypes = '';

</script>
<div class="type">
    <h2>Types:</h2>
    <ul>
        {#each pokemonTypes as type}
        <li>
            type = {type.type.name}
        </li>
        {/each}
    </ul>
</div>