<script>
    export let pokemonTypes = '';
    let isUlVisible = false;

    function toggleUlVisibility() {
        isUlVisible = !isUlVisible;
    }
</script>

<div class="type">
    <h2 on:click={toggleUlVisibility}>Types</h2>
    {#if isUlVisible}
    <ul>
        {#each pokemonTypes as type}
            <li>{type.type.name}</li>
        {/each}
    </ul>
    {/if}
</div>

<style>
    h2 {
        cursor:pointer;
    }
    ul {
        padding: 0;
        max-height: 20rem;
        overflow:scroll;
    }
</style>
