<script>
	import { myStore } from '$lib/store.js';
    import './style.css'

let pokemonName 
let pokemonAbilities
let pokemonSprites
let pokemonMoves
let pokemonStats
let pokemonTypes

$:{
pokemonName = $myStore.pokemonName.toUpperCase();
pokemonAbilities = $myStore.pokemonAbilities;
pokemonSprites = $myStore.pokemonSprites;
pokemonMoves = $myStore.pokemonMoves;
pokemonStats = $myStore.pokemonStats;
pokemonTypes = $myStore.pokemonTypes;
}

import Abilities from '../Abilities.svelte'
import Stats from '../Stats.svelte'
import Moves from '../Moves.svelte'
import Types from '../Types.svelte'

</script>
<div class="container">
  <a href="./">Home</a>
    <div class="top">     
      {#each pokemonSprites as sprite}
      {#if sprite.other && sprite.other.dream_world && sprite.other.dream_world.front_default}
      <img src={sprite.other.dream_world.front_default} alt="Pokemon Image">
      {/if}
      {/each}
      <h1>{pokemonName}</h1>
    </div>
    <div class="bottom">

      
      <Abilities pokemonAbilities={pokemonAbilities} />
      <Moves pokemonMoves={pokemonMoves}/>
      <Types pokemonTypes={pokemonTypes}/>
      <Stats pokemonStats={pokemonStats}/>
    </div>
      
</div>
  <style>
    .top {
      display:flex;
      align-items: center;
      gap: 4rem;
    }
    h1 {
      font-size: 2rem;
    }
li {
    list-style-type: none;
}
a {
            text-decoration: none;
            color:inherit;
            font-size: 2rem;
        }
.bottom {
  display:flex;
  justify-content: space-around;
}
</style>