<script>
	import { myStore } from '$lib/store.js';

let pokemonSprites
let pokemonName

$:{
 pokemonName = $myStore.pokemonName;
// pokemonAbilities = $myStore.pokemonAbilities;
pokemonSprites = $myStore.pokemonSprites;
// pokemonGame = $myStore.pokemonGame;
// pokemonMoves = $myStore.pokemonMoves;
// pokemonStats = $myStore.pokemonStats;
// pokemonTypes = $myStore.pokemonTypes;
}

</script>


<h1>pokemon page</h1>
<a href="./">Home</a>

{#each pokemonSprites as sprite}
{#if sprite.other && sprite.other.dream_world && sprite.other.dream_world.front_default}
  <img src={sprite.other.dream_world.front_default} alt="Pokemon Image">
{/if}
  {/each}