<h1>pokemon page</h1>
<a href="./">Home</a>

{#each pokemonSprites as sprite}
{#if sprite.other && sprite.other.dream_world && sprite.other.dream_world.front_default}
  <img src={sprite.other.dream_world.front_default} alt="Pokemon Image">
{/if}
  {/each}