<script>
import { myStore } from '$lib/store.js';
export let form;
import './style.css'

let pokemonName 
let pokemonAbilities
let pokemonSprites
let pokemonMoves
let pokemonStats
let pokemonTypes


$:{
pokemonName = $myStore.pokemonName.toUpperCase();
pokemonAbilities = $myStore.pokemonAbilities;
pokemonSprites = $myStore.pokemonSprites;
pokemonMoves = $myStore.pokemonMoves;
pokemonStats = $myStore.pokemonStats;
pokemonTypes = $myStore.pokemonTypes;
}

import Abilities from '../Abilities.svelte'
import Stats from '../Stats.svelte'
import Moves from '../Moves.svelte'
import Types from '../Types.svelte'

</script>
<div class="container">
  <a href="./">Home</a>
    <div class="top">     
      {#each pokemonSprites as sprite}
      {#if sprite.other && sprite.other.dream_world && sprite.other.dream_world.front_default}
      <img src={sprite.other.dream_world.front_default} alt="Pokemon Image">
      {/if}
      {/each}
      <h1>{pokemonName}</h1>
      <div class="wrapper">
        <fieldset>
          
            <legend>Send Emails</legend>
            <form method="POST" action="/emails/" class="container">
                <div class="input">
                    <label for="">To:</label>
                    <input name="to" type="email" value="" />
                </div>
                <div class="input">
                    <label for="">Subject:</label>
                    <input name="subject" type="text" value="" />
                </div>
                <div class="input">
                    <label for="">Body:</label>
                    <textarea name="body" rows="6" value="" />
                </div>
                <button type="submit">Send</button>
            </form>
            <p class="success">{form?.success || ""}</p>
        </fieldset>
    </div>
      </div>
    </div>
    <div class="bottom">
      
      <script>
        on:submit={async () => {
          // Get the form data
          const formData = await form.requestFormData();
        
          // Send the email
          const emailHtml = render({
            component: Hello,
            props: {
              name: formData.get('to')
            }
          });
          
        
          const options = {
            from: 'dariomedugno@libero.it',
            to: formData.get('to'),
            subject: formData.get('subject'),
            html: emailHtml
          };
        
          try {
            await transporter.sendMail(options);
        
            // Show a success message
            form.success = 'Email sent successfully!';
          } catch (error) {
            // Show an error message
            form.error = error.message;
          }
        }}
        </script>

      
      
      <Abilities pokemonAbilities={pokemonAbilities} />
      <Moves pokemonMoves={pokemonMoves}/>
      <Types pokemonTypes={pokemonTypes}/>
      <Stats pokemonStats={pokemonStats}/>
    </div>
   
<style>
    .top {
      display:flex;
      align-items: center;
      gap: 4rem;
    }
    h1 {
      font-size: 4rem;
    }
li {
    list-style-type: none;
}
a {
            text-decoration: none;
            color:inherit;
            font-size: 2rem;
        }
.bottom {
  display:flex;
  justify-content: space-around;
}

.wrapper {
        max-width: 800px;
        margin: 2em auto;
    }
    fieldset {
        padding: 2em;
        box-shadow: 0 10px 15px -3px #0000001a, 0 4px 6px -4px #0000001a;
    }
    legend {
        font-weight: bold;
        font-size: 2em;
        padding: 0 0.25em;
        color: #333;
    }
    .container {
        max-width: 400px;
    }
    .input {
        display: grid;
        margin-bottom: 1.5em;
    }
    label {
        font-weight: 600;
        margin-bottom: 0.25em;
        color: #555;
    }
    input {
        padding: 5px;
    }
    button {
        cursor: pointer;
        padding: 0.5em 1em;
        border-radius: 4px;
        border: 1px solid rgb(5, 151, 64);
        background-color: rgb(5, 151, 64);
        color: white
    }
    .success {
        color: #0a5;
    }
</style>