<script>
	import { myStore } from '$lib/store.js';
    import '.../style.css'

let pokemonName 
let pokemonAbilities
let pokemonSprites
let pokemonMoves
let pokemonStats
let pokemonTypes

$:{
pokemonName = $myStore.pokemonName.toUpperCase();
pokemonAbilities = $myStore.pokemonAbilities;
pokemonSprites = $myStore.pokemonSprites;
pokemonMoves = $myStore.pokemonMoves;
pokemonStats = $myStore.pokemonStats;
pokemonTypes = $myStore.pokemonTypes;
}

import Abilities from '../Abilities.svelte'
import Stats from '../Stats.svelte'
import Moves from '../Moves.svelte'
import Types from '../Types.svelte'

</script>


<a href="./">Home</a>
<h1>Details: {pokemonName}</h1>

{#each pokemonSprites as sprite}
{#if sprite.other && sprite.other.dream_world && sprite.other.dream_world.front_default}
  <img src={sprite.other.dream_world.front_default} alt="Pokemon Image">
{/if}
  {/each}

<Abilities pokemonAbilities={pokemonAbilities} />
<Moves pokemonMoves={pokemonMoves}/>
<Types pokemonTypes={pokemonTypes}/>
<Stats pokemonStats={pokemonStats}/>

<style>
li {
    list-style-type: none;
}
</style>