
<script>
    export let form;
   </script>
<div class="container">
    <div class="right">  
        <div class="wrapper">
            <fieldset>
                <legend class="animate2">Emails</legend>
                <form method="POST" class="container">
                    <div class="input">
                        <label for="">To</label>
                        <input name="to" type="email" value="" />
                    </div>
                    <div class="input">
                        <label for="">Subject</label>
                        <input name="subject" type="text" value="" />
                    </div>
                    <div class="input">
                        <label for="">Body</label>
                        <textarea name="body" rows="6" value="" />
                    </div>
                    <button type="submit" class="btn-green">Send</button>
                </form>
                <p class="success">{form?.success || ""}</p>
            </fieldset>
        </div>
    </div>
</div>
   
   <style>
           .right {
           background-color: rgba(156, 157, 158, 0.603);
           width: 25%;
           border-radius: 10px;
       }
       .wrapper {
           max-width: 800px;
           margin: 2em auto;
       }
       
       fieldset {
           padding: 2em;
             border: 0;
       }
       legend {
           font-weight: bold;
           font-size: 2em;
           padding: 0 0.25em;
           color: #333;
       }
       .container {
           max-width: 400px;
       }
       .input {
           display: grid;
           margin-bottom: 1.5em;
       }
       label {
       font-weight: 600;
       margin-bottom: 0.25em;
           
       }
       input {
           padding: 5px;
       }
       button {
           cursor: pointer;
           padding: 0.5em 1em;
           border-radius: 4px;
           border: 1px solid rgb(5, 151, 64);
           background-color: rgb(5, 151, 64);
           color: white;
       }
       
       .success {
           color: #0a5;
       }
       .btn-green {
           background-color: blue !important;
       }
   
     .animate2 {
      text-transform: uppercase;
       background-image: linear-gradient(
       -225deg,
       #2f1491 0%,
       #617a10 29%,
       #ff1361 67%,
       #fff800 100%
     );
     background-size: auto auto;
     background-clip: border-box;
     background-size: 200% auto;
     color: #fff;
     background-clip: text;
     text-fill-color: transparent;
     -webkit-background-clip: text;
     -webkit-text-fill-color: transparent;
     animation: animate 2s linear infinite;
     display: inline-block;
     font-size: 50px;
   }
   @keyframes animate {
     to {
       background-position: 200% center;
     }
   }
   
   textarea {
       resize: none;
   }
   
   
   
   </style>