<script>
    import { render } from 'svelte-email';
    import Hello from '$lib/emails/Hello.svelte';
    import nodemailer from 'nodemailer';
  
    const transporter = nodemailer.createTransport({
      service: 'Gmail',
      auth: {
        user: 'tuoindirizzo@gmail.com',
        pass: 'tua_password'
      }
    });
  
    async function sendEmail() {
      const emailHtml = render({
        template: Hello,
        props: {
          name: 'Svelte'
        }
      });
  
      const options = {
        from: 'tuoindirizzo@gmail.com',
        to: 'destinatario@example.com',
        subject: 'Hello World',
        html: emailHtml
      };
  
      try {
        const info = await transporter.sendMail(options);
        console.log('Email sent:', info.messageId);
      } catch (error) {
        console.error('Errore nell\'invio dell\'email:', error);
      }
    }
  </script>
  
  <button on:click={sendEmail}>Invia Email</button>
  